<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="utf-8" />
    <link href="{{ url_for('static', filename='css/style.css') }}" rel="stylesheet" type="text/css">
    <title>Online Weather Station</title>
    <link href="../static/images/1.png" rel="icon" type="image/ico">
</head>
<body>
    <div id="big_wapper">
            <img src ="../static/images/1.png">
		<ul id="menu1">
                   
                    |||<li id ="nav"><a href="{{ url_for('weather') }}">Weather</a></li>|||
                    <li id = "nav"><a href="{{ url_for('about') }}">About</a></li>|||
                </ul>
             
    </div>
    
    
    <div id="message">
        <div id="mess>"
        <h1 class="heading">Welcome to the WenUs Online Weather Station (WOWS)</h1>
        <p class="lead">Get all your weather information from WenUs Online Weather Station (WOWS) <br>
        Click on <a href="{{ url_for('weather') }}" id="nav0">Weather</a> for weather forecast.<br><br>
            To know more about WenUs Online Weather Station, follow us on facebook.<br> Click on the link below</p> 
           <p id ="nav1"><a href="https://web.facebook.com/WenUs-376895686352714/"> Follow Us Here </a></p>
        </div>
    
    </div>    
    
        		
    

    <footer class="footer">
        Weather Station &copy; 2019
    </footer>

</body>
</html>        
